@use '@angular/material' as mat;

:root{
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$magenta-palette,
    ),
    typography: var(--body-font-family),
    density: 0
  ))
}


