<div class="register">
  <app-h2-title 
    [text]="'register-page.title' | translate"
  />
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register__form">
    <mat-form-field 
      appearance="outline"
      class="form-control"
    >
      <mat-label>{{'register-page.enter-nick' | translate}}</mat-label>
      <input 
        matInput 
        type="'text" 
        [placeholder]="'register-page.nick-placeholder' | translate"
        formControlName="displayName"
      >
      <mat-icon
        matSuffix
      >
        person
      </mat-icon>
      <mat-hint>{{'register-page.nick-hint' | translate}}</mat-hint>

      @if (displayNameControl.hasError('required') && displayNameControl.touched) {
        <mat-error>
          {{'register-page.nick-error-required' | translate}}
        </mat-error>
      } 

      @if (displayNameControl.hasError('minlength') && displayNameControl.touched) {
        <mat-error>
          {{
            'register-page.nick-error-minlength' | translate : {
              minlength: displayNameControl.getError('minlength').requiredLength,
              currentlength: displayNameControl.getError('minlength').actualLength
            }
          }}
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field 
      appearance="outline"
      class="form-control"
    >
      <mat-label>{{'register-page.enter-email' | translate}}</mat-label>
      <input 
        matInput 
        type="'text" 
        [placeholder]="'register-page.email-placeholder' | translate"
        formControlName="email"
      >
      <mat-icon matSuffix>
        email
      </mat-icon>
      <mat-hint>{{'register-page.email-hint' | translate}}</mat-hint>

      @if(emailControl.hasError('required') && emailControl.touched){
        <mat-error>
          {{'register-page.email-error-required' | translate}}
        </mat-error>
      }

      @if(emailControl.hasError('email') && emailControl.touched) {
        <mat-error>
          {{'register-page.email-error-not-email' | translate}}
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field 
      appearance="outline"
      class="form-control"
    >
      <mat-label>{{'register-page.enter-pwd' | translate}}</mat-label>
      <input 
        matInput 
        [type]="isPwdHide() ? 'password' : 'text'" 
        formControlName="password"
      >
      <button
        class="register__pwd-btn"
        matIconButton
        matSuffix
        (click)="togglePwdVisibility($event)"
        [attr.aria-label]="isPwdHide() ? 
          ('register-page.show-pwd' | translate) : 
          ('register-page.hide-pwd' | translate)"
        [attr.aria-pressed]="isPwdHide()"
      >
        <mat-icon>{{isPwdHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>{{'register-page.pwd-hint' | translate}}</mat-hint>

      @if (passwordControl.hasError('required') && passwordControl.touched) {
        <mat-error>
          {{'register-page.pwd-error-required' | translate}}
        </mat-error>
      } 

      @if (passwordControl.hasError('minlength') && passwordControl.touched) {
        <mat-error>
          {{
            'register-page.pwd-error-minlength' | translate : {
              minlength: passwordControl.getError('minlength').requiredLength,
              currentlength: passwordControl.getError('minlength').actualLength
            }
          }}
        </mat-error>
      }
    </mat-form-field>

    <app-btn-flat 
      [btnText]="'register-page.title' | translate"
      type="submit"
    />
  </form>
</div>